<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../utils/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" href="../utils/navbar.css">
    <link rel="stylesheet" href="about.css">
    <title>About</title>
</head>

<body>

    <div id="app" class="">

        <nav class="navbar navbar-expand-lg navbar-light d-flex" id="navbar">
        </nav>

        <div class="banner-area">
            <div class="d-flex justify-content-center text-light align-items-center"
                style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px;">ABOUT US</div>
        </div>

        <div class="review-area-title d-flex justify-content-center" id="ourStory">
            <div class="intro" style="padding: 0;">
                <div class="d-flex justify-content-center"
                    style="font-family: 'Courgette', cursive; font-size: 30px; color: crimson;">Mind Restaurant</div>
                <div class="d-flex justify-content-center text-dark"
                    style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px; margin-bottom:40px">OUR STORY</div>
                <p>Fusce at risus eget mi auctor pulvinar. Suspendisse maximus venenatis pretium. Orci varius natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam purus purus, lacinia a
                    scelerisque in, luctus vel felis. Donec odio diam, dignissim a efficitur at, efficitur et est.
                    Pellentesque semper est ut pulvinar ullamcorper. Class aptent taciti sociosqu ad litora torquent per
                    conubia nostra, per inceptos himenaeos. Nulla et leo accumsan, egestas velit ac, fringilla tortor.
                    Sed varius justo sed luctus mattis.</p>
            </div>
        </div>

        <div class="introduce-area-title d-flex justify-content-center align-items-center">
            <div class="intro">
                <div class="d-flex justify-content-center"
                    style="font-family: 'Courgette', cursive; font-size: 40px; color: crimson;">Meet Our</div>
                <div class="d-flex justify-content-center text-light"
                    style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 10px;">CHEF
                </div>
            </div>
        </div>


        <div class="chef-area d-flex justify-content-center">
            <div class="chef-content d-flex">
                <div class="grow-1 card-container">
                    <div class="card d-flex flex-column">
                        <div class="card-img d-flex justify-content-center">
                            <img src="../image/messi.jpg" alt="">
                        </div>
                        <div class="card-content grow-1">
                            <div class="card-content-name d-flex justify-content-center">Peter Hart</div>
                            <div class="card-content-position d-flex justify-content-center">CHEF</div>
                            <p>Donec porta eleifend mauris ut effici-tur. Quisque non velit vestibulum, lob-ortis mi eget, rhoncus nunc</p>
                        </div>
                    </div>
                </div>
                <div class="grow-1 card-container">
                    <div class="card d-flex flex-column">
                        <div class="card-img d-flex justify-content-center">
                            <img src="../image/ronaldo.jpg" alt="">
                        </div>
                        <div class="card-content grow-1">
                            <div class="card-content-name d-flex justify-content-center">Joyce Bowman</div>
                            <div class="card-content-position d-flex justify-content-center">CHEF</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies felis a sem tempus tempus.</p>
                        </div>
                    </div>
                </div>
                <div class="grow-1 card-container">
                    <div class="card d-flex flex-column">
                        <div class="card-img d-flex justify-content-center">
                            <img src="../image/trump.jpg" alt="">
                        </div>
                        <div class="card-content grow-1">
                            <div class="card-content-name d-flex justify-content-center">John Cena</div>
                            <div class="card-content-position d-flex justify-content-center">CHEF</div>
                            <p>Phasellus aliquam libero a nisi varius, vitae placerat sem aliquet. Ut at velit nec ipsum iaculis posuere quis in sapien</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>





        <div class="subcribe-area d-flex justify-content-center align-items-center" id="subscribe"></div>
        <div class="contact-area" id="contact"></div>
        <div class="footer d-flex justify-content-center align-items-center" id="footer"></div>
        
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js"></script>



    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDMWzZQMVaG8Xd2tnM0EFumOQ7NYH2C3LE",
            authDomain: "mindx-cj39-project.firebaseapp.com",
            databaseURL: "https://mindx-cj39-project.firebaseio.com",
            projectId: "mindx-cj39-project",
            storageBucket: "mindx-cj39-project.appspot.com",
            messagingSenderId: "300478582762",
            appId: "1:300478582762:web:c45f62772ff550702e6c93"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const DB = firebase.firestore();
    </script>
    <script src="../utils/navbar.js"></script>
    <script src="../utils/footer.js"></script>
    <script src="about.js"></script>



</body>

</html>