<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../utils/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" href="../utils/navbar.css">
    <link rel="stylesheet" href="index.css">
    <title>Home</title>
</head>

<body>

    <div id="app" class="">

        <nav class="navbar navbar-expand-lg navbar-light d-flex" id="navbar"></nav>

        <div class="banner-area d-flex justify-content-center align-items-center" id="banner-area">
            <div class="banner-content-area">
                <div class="text-light justify-content-center d-flex w3-center w3-animate-top" id="welcome-text">Welcome
                    to</div>
                <div class="text-light justify-content-center d-flex w3-center w3-animate-bottom" id="mindx-text">ROMAN
                    RESTAURANT</div>
                <div class="justify-content-center d-flex" id="menu-text">
                    <button type="button" class="btn btn-outline-dark w3-animate-opacity"><a href="./menu.html"
                            style="text-decoration: none" >LOOK MENU</a>
                    </button>
                </div>
            </div>

        </div>


        <div class="openning-area bg-light d-flex justify-content-center">
            <div class="openning-content d-flex">
                <div class="openning-content-1 d-flex justify-content-center align-items-center">
                    <div class="intro">
                        <div class="d-flex justify-content-center"
                            style="font-family: 'Courgette', cursive; font-size: 30px; color: crimson;">Roman restaurant
                        </div>
                        <div class="d-flex justify-content-center"
                            style="font-family: 'Poppins', sans-serif; font-size: 42px; letter-spacing: 10px;">WELCOME
                        </div>
                        <p>Ai đó đã ví von rằng: “Nấu ăn là một nghệ thuật, người nấu ăn cũng là một nghệ sĩ”. Các món
                            ăn tại Roman mang hương vị đặc biệt không chỉ nhờ bàn tay điêu luyện của các đầu bếp
                            giỏi nhất, mà còn có sự tâm huyết của toàn bộ đội ngũ quản lý và nhân viên.</p>
                        <div class="d-flex justify-content-center on-hover"
                            style="font-family : 'Montserrat', sans-serif; font-size: 18px;" onclick="toOurStory()">OUR
                            STORY</div>
                    </div>
                </div>
                <div class="openning-content-2">
                    <img src="../image/homepage-intro.jpg" alt="">
                </div>

            </div>
        </div>

        <div class="introduce-area-title d-flex justify-content-center align-items-center">
            <div class="intro">
                <div class="d-flex justify-content-center"
                    style="font-family: 'Courgette', cursive; font-size: 40px; color: crimson;">Discover</div>
                <div class="d-flex justify-content-center text-light"
                    style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 10px;">ROMAN RESTAURANT
                </div>
            </div>
        </div>

        <div class="introduce-area-content  d-flex justify-content-center align-items-center">
            <div class="introduce-area-content-1 d-flex justify-content-center align-items-center">
                <div class="introduce-area-card">
                    <div class="introduce-area-card-img">
                        <img src="../image/homepage-intro-content-3.jpg" alt="">
                    </div>
                    <div class="text-nowrap introduce-area-card-content"
                        style="font-family: 'Poppins', sans-serif; font-size: 19px; letter-spacing: 3px; margin-top: 40px;">
                        Romantic Restaurant</div>
                    <p style="font-family : 'Montserrat', sans-serif; font-size: 15px; margin-top: 10px;">Là nơi tụ họp
                        của gia đình, người thân, bạn bè</p>
                    <div style="font-family : 'Montserrat', sans-serif; font-size: 17px;margin-top: 10px;"
                        class="on-hover learn-more">LEARN MORE
                    </div>
                </div>
            </div>
            <div class="introduce-area-content-2 d-flex justify-content-center align-items-center">
                <div class="introduce-area-card">
                    <div class="introduce-area-card-img">
                        <img src="../image/homepage-intro-content-1.jpg" alt="">
                    </div>
                    <div class="text-nowrap introduce-area-card-content"
                        style="font-family: 'Poppins', sans-serif; font-size: 19px; letter-spacing: 3px; margin-top: 40px;">
                        Delicius Food</div>
                    <p style="font-family : 'Montserrat', sans-serif; font-size: 15px; margin-top: 10px;">Những món ăn
                        mang hương vị đặc trưng của từng vùng miền</p>
                    <div style="font-family : 'Montserrat', sans-serif; font-size: 17px;margin-top: 10px;"
                        class="on-hover learn-more">LEARN MORE
                    </div>
                </div>
            </div>
            <div class="introduce-area-content-3 d-flex justify-content-center align-items-center">
                <div class="introduce-area-card">
                    <div class="introduce-area-card-img">
                        <img src="../image/đầu bếp.jpg" alt="">
                    </div>
                    <div class="text-nowra introduce-area-card-contentp"
                        style="font-family: 'Poppins', sans-serif; font-size: 19px; letter-spacing: 3px; margin-top: 40px;">
                        Special Recipe</div>
                    <p style="font-family : 'Montserrat', sans-serif; font-size: 15px; margin-top: 10px;">Những kinh
                        nghiệm đúc kết nhiều năm kinh nghiệm của đầu bếp</p>
                    <div style="font-family : 'Montserrat', sans-serif; font-size: 17px;margin-top: 10px;"
                        class="on-hover learn-more">LEARN MORE
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-area-title d-flex justify-content-center align-items-end">
            <div class="intro">
                <div class="d-flex justify-content-center"
                    style="font-family: 'Courgette', cursive; font-size: 40px; color: crimson;">Discover</div>
                <div class="d-flex justify-content-center text-dark"
                    style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 10px;">OUR MENU</div>
            </div>
        </div>

        <div class="menu-area">
            <div class="menu-area-content d-flex ">
                <div class=" d-flex " style="flex-grow: 2;flex-direction: column; flex-basis: 0;">
                    <div class="d-flex" style="flex-grow: 2; flex-basis: 0;">
                        <div class="d-flex homepage-menu-item justify-content-center align-items-center"
                            style="flex-grow:1; flex-basis: 0; background-image: url('../image/homepage-menu-lunch.jpg'); ">
                            <button type="button" class="btn btn-outline-dark" onclick="toLunchMenu()">LUNCH</button>
                        </div>
                        <div class="d-flex homepage-menu-item justify-content-center align-items-center"
                            style="flex-grow:1; flex-basis: 0; background-image: url('../image/homepage-menu-dinner.jpg');">
                            <button type="button" class="btn btn-outline-dark" onclick="toDinnerMenu()">DINNER</button>
                        </div>
                    </div>
                    <div class="d-flex homepage-menu-item justify-content-center align-items-center"
                        style="flex-grow: 1; flex-basis: 0; background-image: url('../image/homepage-menu-specialDeal.jpg');">
                        <button type="button" class="btn btn-outline-dark">SPECIAL DEAL</button>
                    </div>
                </div>
                <div class=" d-flex" style="flex-grow: 1; flex-direction: column; flex-basis: 0;">
                    <div class="d-flex homepage-menu-item justify-content-center align-items-center"
                        style="flex-grow: 1;flex-basis: 0;  background-image: url('../image/homepage-menu-drink.jpg');">
                        <button type="button" class="btn btn-outline-dark" onclick="toDrinkMenu()">DRINK</button>
                    </div>
                    <div class="d-flex homepage-menu-item justify-content-center align-items-center"
                        style="flex-grow: 1;flex-basis: 0; background-image: url('../image/homepage-menu-starting.jpg');">
                        <button type="button" class="btn btn-outline-dark" onclick="toStartersMenu()">STARTERS</button>
                    </div>
                    <div class="d-flex homepage-menu-item justify-content-center align-items-center"
                        style="flex-grow: 1;flex-basis: 0; background-image: url('../image/homepage-menu-dessert.jpg');">
                        <button type="button" class="btn btn-outline-dark" onclick="toDessertMenu()">DESSERT</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="review-area-title d-flex justify-content-center align-items-end">
            <div class="intro" style="padding: 0;">
                <div class="d-flex justify-content-center"
                    style="font-family: 'Courgette', cursive; font-size: 30px; color: crimson;">Customers Say</div>
                <div class="d-flex justify-content-center text-dark"
                    style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px;">REVIEW</div>
            </div>
        </div>

        <div class="review-area-content">
            <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner h-100 d-flex justify-content-center">
                    <div class="carousel-item active h-100 w-70">
                        <!-- <img class="d-block w-100" src="..." alt="First slide"> -->
                        <div class=" d-block w-100 h-100"></div>
                        <div class="carousel-caption review">
                            <img src="../image/tpbank.jpg" class="rounded-circle" alt="">
                            <p class="text-dark" style="font-family : 'Montserrat', sans-serif; font-size: 15px;">Mình
                                rất thích đồ ăn ở nhà hàng.Những buổi trưa mình thường đặt đồ ăn ở đây,
                                nó hợp khẩu vị
                            </p>
                            <div class="review-vote">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h3 class="text-dark" style="font-family : 'Montserrat', sans-serif; font-size: 12px;">
                                NGUYỄN NGỌC VI - NHÂN VIÊN NGÂN HÀNG</h3>
                        </div>
                    </div>


                    <div class="carousel-item h-100 w-70">
                        <!-- <img class="d-block w-100" src="..." alt="First slide"> -->
                        <div class=" d-block w-100 h-100"></div>
                        <div class="carousel-caption review">
                            <img src="../image/gallery/trẻ em.jfif" class="rounded-circle" alt="">
                            <p class="text-dark" style="font-family : 'Montserrat', sans-serif; font-size: 15px;">Ba mẹ
                                thường xuyên dẫn cháu đi ăn nhà hàng này. cháu thích nhất là món tôm càng xanh nướng</p>
                            <div class="review-vote">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h3 class="text-dark" style="font-family : 'Montserrat', sans-serif; font-size: 12px;">
                                NGUYỄN MAI LINH - HỌC SINH</h3>
                        </div>
                    </div>

                    <div class="carousel-item h-100 w-70">
                        <!-- <img class="d-block w-100" src="..." alt="First slide"> -->
                        <div class=" d-block w-100 h-100"></div>
                        <div class="carousel-caption review">
                            <img src="../image/girl.jpg" class="rounded-circle" alt="">
                            <p class="text-dark" style="font-family : 'Montserrat', sans-serif; font-size: 15px;">Mình
                                thường xuyên đặt bàn ở đây không chỉ những dịp đặc biệt. Đầu bếp number one khi tạo ra
                                những món ăn như vậy.</p>
                            <div class="review-vote">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h3 class="text-dark" style="font-family : 'Montserrat', sans-serif; font-size: 12px;">
                                NGUYỄN HÀ CHI - MẪU ẢNH</h3>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <div class="subcribe-area d-flex justify-content-center align-items-center" id="subscribe"></div>
        <div class="contact-area" id="contact"></div>
        <div class="footer d-flex justify-content-center align-items-center" id="footer"></div>












    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js"></script>



    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDMWzZQMVaG8Xd2tnM0EFumOQ7NYH2C3LE",
            authDomain: "mindx-cj39-project.firebaseapp.com",
            databaseURL: "https://mindx-cj39-project.firebaseio.com",
            projectId: "mindx-cj39-project",
            storageBucket: "mindx-cj39-project.appspot.com",
            messagingSenderId: "300478582762",
            appId: "1:300478582762:web:c45f62772ff550702e6c93"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const DB = firebase.firestore();
    </script>
    <script src="../utils/navbar.js"></script>
    <script src="../utils/footer.js"></script>
    <script src="index.js"></script>


</body>

</html>