<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../utils/fontawesome-free-5.12.1-web/css/all.css">
    <link rel="stylesheet" href="../utils/navbar.css">
    <link rel="stylesheet" href="reservation.css">
    <title>Reservation</title>
</head>

<body>

    <div id="app" class="">

        <nav class="navbar navbar-expand-lg navbar-light d-flex" id="navbar">
        </nav>


        <div class="banner-area">
            <div class="d-flex justify-content-center text-light align-items-center"
                style="font-family: 'Poppins', sans-serif; font-size: 50px; letter-spacing: 15px;">RESERVATION</div>
        </div>

        <div class="booking-area d-flex justify-content-center">
            <div class="booking-content d-flex align-items-center justify-content-center">
                <div class="booking-content-1 ">
                    <div class="reservation-text d-flex justify-content-center">Reservation</div>
                    <div class="booktable-text d-flex justify-content-center">BOOK TABLE</div>
                    <div class="book-input d-flex justify-content-center">
                        <form class="d-flex flex-column" id="reservationForm">
                            <div class="row">
                                <div class="col">
                                    <label for="">Date</label>
                                    <input type="date" class="form-control" value="" id="date">
                                </div>
                                <div class="col">
                                    <label for="">Time</label>
                                    <select name="time" id="time" class="form-control">
                                        <!--  -->
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="">People</label>
                                    <!-- <input type="number" class="form-control" value="1" id="numberOfPeople"> -->
                                    <select name="numberOfPeople" id="numberOfPeople" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" placeholder="Enter name" id="customerName"
                                        required>
                                </div>
                                <div class="col">
                                    <label for="">Phone Number</label>
                                    <input type="text" class="form-control" placeholder="Enter phone number" required
                                        id="customerPhoneNumber">
                                </div>
                                <div class="col">
                                    <label for="">Email</label>
                                    <input type="email" class="form-control" placeholder="Email address" required
                                        id="customerEmail">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark button-form">BOOK TABLE</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>




        <div class="subcribe-area d-flex justify-content-center align-items-center" id="subscribe"></div>
        <div class="contact-area" id="contact"></div>
        <div class="footer d-flex justify-content-center align-items-center" id="footer"></div>
        <div class="login-form-container w3-animate-opacity" id="loginFormContainer">
            <div class="login-form" id="loginForm">
                <div class="button-box">
                    <div id="btn-group"></div>
                    <button class="toggle-btn text-light" type="button" id="login-Btn"
                        onclick="toLogin()">Login</button>
                    <button class="toggle-btn" type="button" id="register-Btn" onclick="toRegister()">Register</button>
                </div>
                <form id="loginFormInput" class="input-box d-flex flex-column justify-content-center">
                    <input type="text" class="input-field" placeholder="Username" required>
                    <input type="text" class="input-field" placeholder="Password" required>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="button-submit">Login</button>
                        <button type="button" class="button-submit" onclick="closeLoginForm()">Close</button>
                    </div>
                </form>
                <form id="registerFormInput" class="input-box">
                    <input type="text" class="input-field" placeholder="Username" required>
                    <input type="text" class="input-field" placeholder="Password" required>
                    <input type="email" class="input-field" placeholder="Email" required>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="button-submit">Register</button>
                        <button type="button" class="button-submit" onclick="closeLoginForm()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="errorContent">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Booking Complete
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDMWzZQMVaG8Xd2tnM0EFumOQ7NYH2C3LE",
            authDomain: "mindx-cj39-project.firebaseapp.com",
            databaseURL: "https://mindx-cj39-project.firebaseio.com",
            projectId: "mindx-cj39-project",
            storageBucket: "mindx-cj39-project.appspot.com",
            messagingSenderId: "300478582762",
            appId: "1:300478582762:web:c45f62772ff550702e6c93"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const DB = firebase.firestore();

    </script>

    <script src="../utils/navbar.js"></script>
    <script src="../utils/footer.js"></script>
    <script src="./reservation.js"></script>
</body>

</html>